*{
    margin:0;
    padding: 0;
}


header {
    background-image: url('images/banner.png');
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    width: 90%;
    margin: 80px auto;
    background-position: center;
    align-items: center;
    border-radius: 16px;
    
}

.banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    display: flex;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    align-items: center;
}

.banner .banner-text {
    text-align: center;
    margin: 0 auto;
}
h2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

.banner .banner-text h4 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




#catagory
{
    width: 800px;
    margin: 100px auto;
    text-align: center;
}
#catagory .catagory-hny h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
}

#catagory .catagory-hny h3
{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}
#catagory .catagory-hny h4
{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}
#catagory .catagory-hny img
{
    width: 800px;
    height: 500px;
}





#party
{
    width: 1320px;
    margin: 100px auto;
    display: flex;
    height: 600px;
    background: url('images/Vectorrr.png');
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    border-radius: 16px;
    align-items: center;
}

#party .content-all
{
    margin-left: -80px;
}
#party .content-all h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 54px;
    font-style: normal; 
    font-weight: 800;
    line-height:auto;
    letter-spacing: auto;
}
#party .content-all p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: auto;
}
#party .content-all .btn{
    color: #ffffff;
    background-color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}




#place
{
    width: 1320px;
    margin: 100px auto;
    background-color: #efd1d1;
    height: 600px;
    text-align: center; 
}
#place .place1 
{
    padding-top: 150px;
}

#place .place1 h3 span{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;   
}
#place .place1 h3
{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;   
}

#place .place1 .btn1{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    cursor: pointer;
  
}