*{
    margin:0;
    padding: 0;
}


header {
    background-image: url('images/banner.png');
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    width: 90%;
    margin: 80px auto;
    background-position: center;
    align-items: center;
    border-radius: 16px;
    
}

.banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    display: flex;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    align-items: center;
}

.banner .banner-text {
    text-align: center;
    margin: 0 auto;
}
h2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

.banner .banner-text h4 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




#catagory
{
    width: 800px;
    margin: 100px auto;
    text-align: center;
}
#catagory .catagory-hny h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
}

#catagory .catagory-hny h3
{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}
#catagory .catagory-hny h4
{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}
#catagory .catagory-hny img
{
    width: 800px;
    height: 500px;
}





#party
{
    width: 1320px;
    margin: 100px auto;
    display: flex;
    height: 600px;
    background: url('images/Vectorrr.png');
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    border-radius: 16px;
    align-items: center;
}

#party .content-all
{
    margin-left: -80px;
}
#party .content-all h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 54px;
    font-style: normal; 
    font-weight: 800;
    line-height:auto;
    letter-spacing: auto;
}
#party .content-all p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: auto;
}
#party .content-all .btn{
    color: #ffffff;
    background-color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}




#place
{
    width: 1320px;
    margin: 100px auto;
    background: rgba(255, 0, 0, 0.05);
    height: 600px;
    text-align: center; 
}
#place .place1 
{
    padding-top: 150px;
}

#place .place1 h3 span{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;   
}
#place .place1 h3
{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;   
}

#place .place1 .btn1{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    cursor: pointer;
  
}




#coming
{
    display: flex;
    width: 1320px;
    margin: 100px auto;
    background: #fff;
    height: 600px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

#coming .coming1 h3
{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: left; 
}
#coming .coming1 h1
{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: left;
}
#coming .coming1 p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}
#coming> img{
    width: 400px; 
    height: 400px;
    background: none;
    border-radius: 463px;
    border: 15px solid #F00; 
    padding: 25px; 
    margin-top: 40px; 
    margin-left: auto; 
    margin-right: auto;
}
#coming .coming2 h1
{
    color: #F00;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: left;
}

#coming .coming2 p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}






#gift {

    margin: 100px auto;
    background-color: #fff;
    text-align: center; 
    width: 1320px;
    height: 700px;
   
}


#gift .content-gift {
    padding-top: 50px;
}

#gift .content-gift h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500px;
    line-height: normal;  
    text-align: left;
}

#gift .content-gift h1 {
    color: #070211;
    text-align: left;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900px;
    line-height: normal;
    text-transform: capitalize;
}

#gift  .content-gift p {
    color: rgba(7, 2, 17, 0.60);
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400px;
    margin-bottom: 20px;
}

#gift .image
{
    display: flex;
    position: absolute;
    width: 310px;
    height: 340px;
    justify-content: flex-start;
    align-items: left;
    border-radius: 16px;  
}

#gift .image img {
    width: 424px;
    height: 450px;
    margin-right: 40px; 
    border-radius: 16px;
    
}

#gift .image img:hover {
    transform: scale(1.2); 
    opacity: 0.8;
}


#subs
{
    width: 1320px;
    margin: 100px auto;
    background: rgba(255, 0, 0, 0.05);
    height: 600px;
    text-align: center; 
}

#subs .subs-all
{
    padding-top: 150px;
}

#subs .subs-all h1
{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;  
}

#subs .subs-all p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.subs-box {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
    margin: 0 auto;
    width: 648px;
    height: 72px;
    overflow: hidden;
}

#email {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 50px 0 0 50px; 
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 50px 50px 0; 
    cursor: pointer;
    transition: background-color 0.3s ease;

}